# FILL THESE OUT

DB_NAME=local
DB_USER=local
DB_PASSWORD=PASSWORD
DB_URL=jdbc:postgresql://postgres:5432/neura

SPRING_PROFILES_ACTIVE=prod

JWT_SECRET=JWT_TOKEN_64_PLUS
JWT_EXPIRATION_MS=86400000

CORS_ORIGINS=http://localhost
